
<?php while ($row = $allUser->fetch_assoc()) { 
?>
<form action="../Controller/quanlyhocsinh.php" method="post">


    <div class="container">
        <h2>Chinh sua thong tin hoc sinh</h2>  
        <input type="hidden" name="uid" value="<?php echo $_GET['uid'] ?>" />
        <div class="form-group">
            <label for="uname">User Name</label>
            <input type="text" class="form-control" name="uname" value="<?php echo $row['username'] ?>" required>
        </div>
        <div class="form-group">
            <label for="fname">Full Name</label>
            <input type="text" class="form-control" name="fname" value="<?php echo $row['fullname'] ?>" required>
        </div>

        <div class="form-group">
            <label for="psw">Password</label>
            <input type="password" class="form-control" name="psw" placeholder="Enter Password" required>
        </div>
        <div class="form-group">
            <label for="psw2">Comfirm Password</label>
            <input type="password" class="form-control" name="psw2" placeholder="Enter comfirm Password" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" value="<?php echo $row['email'] ?>" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" value="<?php echo $row['phone'] ?>" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<?php

}
?>